<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h1>Burger Boi</h1>
            <img src="/images/burger_banner.jpg" alt="burger banner">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h2>Burgers Ready to Eat</h2>
            <ul class="list-group">
                {{#each burger}} {{#if devoured}}
                {{else}}
                <li class="list-group-item">{{id}}. {{burger_name}}
                    <button data-burgerid="{{id}}" class="btn devour">Eat This</button>
                </li>
                {{/if}} {{/each}}
            </ul>
        </div>
        <div class="col">
            <h2>Burgers Already Eaten</h2>
            <ul class="list-group">
                {{#each burger}} {{#if devoured}}
                <li class="list-group-item disabled">{{id}}. {{burger_name}}
                    <button data-burgerid="{{id}}" class="btn delete">Remove Scraps</button>
                </li>
                {{/if}} {{/each}}
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h2>Place your order here, even if it's not food!</h2>
            <textarea name="orderBurger" id="burgerInput" placeholder="Order Here"></textarea>
            <button type="submit" id="submitBurger" class="btn btn-success">Place Order!</button>
        </div>
    </div>
</div>